#UserLoginForm{
	text-align: center;
}
#UserLoginForm #UserUsername, #UserLoginForm #UserPassword{ 
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#UserLoginForm .submit{ margin-top: 10px;}
#UserLoginForm .submit .custom-btn{ width: 50%; font-weight: bold; padding: 10px;}
#UserLoginForm	input{
	
}
.customFormForLogin{ width: 300px; margin: 0 auto; background: none repeat scroll 0 0 #FBFBFB;
 padding: 20px 10px; border-radius: 10px; }
 .customFormForLogin .fitness_logo{width: 100px; height: 100px; margin: 0 auto;}
#formDateChange{
	margin: 5px 0;
}

.tile.mini {
line-height: 15em;
text-align: center;
}

.tile {
position: relative;
color: #000;
}

.user-mgmnt-bg {
background-color: #ffc300;
}
.news-mgmnt-bg {
background-color: #093;
}
.medical-mgmnt-bg {
background-color: #57bae8;
}

.tile a {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: block;
z-index: 999;
}
.tile-box {
display: inline-block;
vertical-align: middle;
line-height: normal;
}
.box-spacing{ border: 1px solid red;}
.addsubmit{width: 50px; float: left;}
.clear-form{
	 float: left;
	width: 100px;
	margin-left: 30px;
}

.multipleusers{
	width: 200px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

#assessmentTable input{
	width: 50% !important;
	}

.addassessent{
	align-items: flex-start;
	text-align: center;
	cursor: pointer;
	color: buttontext;
	margin: 0 2px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
	-webkit-appearance: button;
	box-sizing: border-box;
}

select[multiple]{
	height: 150px !important;
}

.ui-datepicker-current{ display: none;}

#changeDate{ width: 18%; float: left;  margin: 0 2px;}
#assessmentTable  #changeDate input[type="submit"]{width: 100% !important;}
#deletedate{ width: 50%; float: left;}

#user_section{ width: auto; float: right;}

#resultDiv2{ margin-bottom: 10px;}
#resultDiv2 li{ padding-left: 5px; padding-right: 5px;}
#resultDiv2 li a{ margin-left: 10px;}

.err, .success, .invalid-data {
border: 1px solid #CC0000;
background-color: #FFEBEB;
color: #CC0000;
padding: 7px;
margin-bottom: 7px;
}