{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                
                <h1>Add/Edit Assessment</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                     <a href="{{ url('adminfitness:ases-list') }}"><span class="glyphicon glyphicon-list">List</span></a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
        {% if create_edit == 1 %}
        <form action="{{ url('adminfitness:ases-create')}}"
                method="post">

       {% else %}
            <form action="{{ url('adminfitness:ases-detail' , newsid )}}"
                method="post">
        {% endif %}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag() }} {{ field }}
                </div>
            {% endfor %}
        <button type="submit"> Add </button>
        </form>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

</div>{#-- end containing of content --#}
{% endblock %}
