<!DOCTYPE html>
<html lang="en">
  <head>
	<title>
    Ftiness
	</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	

  	<!-- Latest compiled and minified CSS   -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    

  	<!-- Latest compiled and minified JavaScript -->
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	
      <script src="{{static("js/jquery-1.9.1.js")}}"></script>
      <script src="{{static("js/jquery-ui.js")}}"></script>
     
      <script src="{{static("js/jquery-ui-sliderAccess.js")}}"></script>
      <script src="{{static("js/jquery-ui-timepicker-addon.js")}}"></script>

       <script src="{{static("js/calendar.js")}}"></script>
      <script src="{{static("js/ajax.js")}}"></script>
     <script src="{{static("js/services.js")}}"></script>

      <script type="text/css" src="{{ static("css/calendar.css")}}"></script>

      <script type="text/css" src="{{static("css/jquery-ui-timepicker-addon.css")}}">
      </script>
      <script stype="text/css" rc="{{ static("css/font-awesome.css")}}"></script>
      <script type="text/css" src="{{static("css/jquery-ui.css")}}"></script>

      <script type="text/css" src="{{static("css/jquery-ui-timepicker-addon.css")}}">
      </script>

            <script type="text/css" src="{{static("css/mycustom.css")}}"></script>


      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> 

      <script src="{{static("js/bootstrap.min.js")}}"></script>

<style type="text/css">
	body{ padding: 70px 0px; }
</style>

  <script type="text/javascript">
        
    </script>

<script type="text/javascript">
    function init() {
      calendar.set("birthday");
      calendar.set("anotherday");
    }
</script>

<script type="text/javascript">
            $(function(){
        function stripTrailingSlash(str) {
          if(str.substr(-1) == '/') {
            return str.substr(0, str.length - 1);
          }
          return str;
        }

        var url = window.location.pathname;  
        var activePage = stripTrailingSlash(url);

        $('.nav li a').each(function(){  
          var currentPage = stripTrailingSlash($(this).attr('href'));

          if (activePage == currentPage) {
            $(this).parent().addClass('active'); 
          } 
        });
      });
            
</script>

  <head>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fitness Express OZ</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url('adminfitness:user-list') }}">Users List</a></li>
            <li><a href="{{ url('adminfitness:user-assess-list') }}">Users Assessment</a></li>
            <li><a href="{{ url('adminfitness:schedule-list') }}">Reschedule</a></li>
            <li><a href="{{ url('adminfitness:news-list') }}">News</a></li>
            <li><a href="{{ url('adminfitness:tips-list') }}">Tips</a></li>
            <li><a href="{{ url('adminfitness:medi-list') }}">Medicals</a></li>
            <li><a href="{{ url('adminfitness:ases-list') }}">Assessments</a></li>
            <li><a href="{{ url('adminfitness:logout') }}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
			 {% block body_block %}{% endblock %}
    </div>
  </body>
</html>
