{% extends 'base.html' %}
{% block body_block %}
<div class="users form customFormForLogin">
<h1>Admin Login</h1>
         <form id="login_form" method="post" action="{{url('adminfitness:login')}}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
</div>
<script type="text/javascript">
    $('ul.nav').hide();
</script>
{% endblock %}