{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                {% set cont = types  %}
                {% set types = 'ALL ' + types  %}
                <h1>{{  types }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                   <a href="{{ url('adminfitness:news-create') }}"><span class="glyphicon glyphicon-plus"></span>New {{  cont }}</a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <thead>
                    <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Url</th>
            <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for news in newslist %}
    <tr>
        <td>{{news.title}}</td>
        <td>{{ news.body|truncate(30) }}</td>
        <td>{{ news.url}}</td>
        <td class="actions">
            <a href="{{ url('adminfitness:news-detail', news.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
            
           <form action="{{ url('adminfitness:news-del' , news.id) }}"
                method="post" class="destroy">
                {% csrf_token %}
                <button type="submit" class='glyphicon glyphicon-remove'></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous() %}
                <a href="?page={{ page_obj.previous_page_number() }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next() %}
                <a href="?page={{ page_obj.next_page_number() }}">next</a>
            {% endif %}
        </span>
    </div>
</div>{#-- end containing of content --#}
{% endblock %}