{{ form.non_field_errors() }}
<div class="form-group">
	<div id="result"></div>
	<input type="checkbox" checked="checked" id="reshceduleall" value="0">  Reschedule Only Date 
	<span id="checkbox_value"></span>
</div>
<div class="form-group">
    {{ form.prev_date.errors }}
    {{ form.prev_date.label_tag() }}
    {{ form.prev_date }}
</div>
<div class="form-group previous_time">
    {{ form.prev_time.errors }}
    {{ form.prev_time.label_tag() }}
    {{ form.prev_time }}
</div>
<div class="form-group">
    {{ form.schedule_date.errors }}
    {{ form.schedule_date.label_tag() }}
    {{ form.schedule_date }}
</div>

<div class="form-group reschedule_time">
    {{ form.schedule_time.errors }}
    {{ form.schedule_time.label_tag() }}
    {{ form.schedule_time }}
</div>

<div class="form-group">
    {{ form.place.errors }}
    {{ form.place.label_tag() }}
    {{ form.place }}
</div>

<div class="form-group">
	<label>Notification</label>
	<input type="radio" name="" id="option1" class="radio-button"> Send All
	<input type="radio" name="" id="option2" class="radio-button"> Send Selected
	<div id="user_section">
		{{ form.user_id.errors }}
	    {{ form.user_id.label_tag() }}
	    {{ form.user_id }}
		<button id="addUser" value="Add User" type="button">adduser</button>
	</div>
	<div id="resultDiv1"></div>
	<div id="resultDiv2"></div>
</div>
<div class="form-group">
	 <input class="btn btn-default" type="submit" value="Save">
</div>

