{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Schedule List</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                   <a href="{{ url('adminfitness:schedule-create') }}"><span class="glyphicon glyphicon-plus"></span>New Schedule</a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <thead>
                    <tr>
            <th>Prev Date</th>
            <th>Schedule Date</th>
            <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for schedule in schedule_list %}
    <tr>
        <td>{{schedule.prev_date}}</td>
        <td>{{ schedule.schedule_date }}</td>
        <td class="actions">
           
           <form action="{{url('adminfitness:schedule-del' 
                    , schedule.id)}}"
                method="post" class="destroy">
                {% csrf_token %}
                <button type="submit" class='glyphicon glyphicon-remove'></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

    <div class="pagination">
        <span class="step-links">
            {% if schedule_list.has_previous() %}
                <a href="?page={{ schedule_list.previous_page_number() }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ schedule_list.number }} of {{ schedule_list.paginator.num_pages }}.
            </span>

            {% if schedule_list.has_next() %}
                <a href="?page={{ schedule_list.next_page_number() }}">next</a>
            {% endif %}
        </span>
    </div>


</div>{#-- end containing of content --#}
{% endblock %}