{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                
                <h1>Add/Edit User Asessment</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                     <a href="{{ url('adminfitness:schedule-list') }}"><span class="glyphicon glyphicon-list">List</span></a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
        <form action="{{ url('adminfitness:schedule-create')}}"
                method="post">
            {% csrf_token %}
                {% include 'schedule_form.jinja' %}
        </form>
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

</div>{#-- end containing of content --#}
<script type="text/javascript">
    $(function() {
        // #resultDiv1 for send all
        // #resultDiv2 for selected users 
        // by default send all checked and notification will send to all
        $("#option1").prop('checked', true);
        //$("#option2").prop('checked', false);
        $('#resultDiv2').empty();
        $('#resultDiv1').html('<input type="hidden" name="sentall" class="sentto" value="all">');


        
        $('.reschedule_time').hide();
        $('.previous_time').hide();
        $('#checkbox_value').html('<input type="hidden" name="wholeday" value="1">');       

        $("#reshceduleall").change(function() {
            var inputField = '';
            if(this.checked) {
                $('.reschedule_time').hide();
                $('.previous_time').hide();
                $('#checkbox_value').html('<input type="hidden" name="wholeday" value="1">');
            }
            else{
                $('.reschedule_time').show();
                $('.previous_time').show();
                $('#checkbox_value').html('<input type="hidden" name="wholeday" value="0">');
            }
        });

        //$('.radio-button').on("click", function(event){
        $(document).on("click", ".radio-button", function(event){
            $('.radio-button').prop('checked', false);
            $(this).prop('checked', true);
        });

        $("#datepicker").datepicker();
        $('#timepicker').timepicker({minuteGrid: 15});
        $("#datepicker1").datepicker();
        $('#timepicker1').timepicker({minuteGrid: 15});
        $('#user_section').hide();
        
        var userArray = new Array();

        $(document).on("click", "#option1", function(event){
             
             $('#user_section').hide();
             var txt1 = "";
             txt1 += '<input type="hidden" name="sentall" class="sentto" value="all">';
             $('#resultDiv2').empty();
             $('#resultDiv1').html(txt1);
        });
        $(document).on("click", "#option2", function(event){
            
             $('#resultDiv1').empty();
             $('#user_section').show();

        });
        $(document).on("click", "#addUser", function(event){
            event.preventDefault();
            
            var txt = '';
            var username = $( "#myselect option:selected" ).text();
            if(username == "Choose User") return;
            else if(jQuery.inArray(username, userArray)===-1){
                userArray.push(username);
            }
            

            for(var i=0;i<userArray.length;i++){
                txt += '<li>'+userArray[i]+'<input type="hidden" name="sent_to['+i+']" value="'+userArray[i]+'">'+'<a class="senttomail" href="#"><span class="glyphicon glyphicon-remove"></span></a>'+'</li>';               
            }
                if(txt != ""){
                    $("#resultDiv2").html(txt);
                }

        });
        $(document).on("click", ".senttomail", function(event){
             event.preventDefault();
             // var thisParent = $(this).parent();
             // thisParent.remove();
             var txt='';
             var index = userArray.indexOf($(this).prev().val());
             if (index > -1) {
                userArray.splice(index, 1);
             }
             //console.log(userArray);
             if(userArray.length>0){
                for(var i=0;i<userArray.length;i++){
                txt += '<li>'+userArray[i]+'<input type="hidden" name="sent_to['+i+']" value="'+userArray[i]+'">'+'<a class="senttomail" href="#"><span class="glyphicon glyphicon-remove"></span></a>'+'</li>';               
                }
                if(txt != ""){
                    $("#resultDiv2").html(txt);
                }
             }
             else{
                $("#resultDiv2").empty();
             }
             
             //alert($(thisParent).attr("id"));
             
             
        });
    });
    function validateForm()
    {
    var x=$('#datepicker1').val();
    var y=$('#datepicker').val();
    var z=$('#timepicker1').val();
    var w=$('#timepicker').val();
    if (x=="" || y=="")
      {
      $('#result').html('Please fill previous date and reschedule date to continue reschedule!');
      $('#result').addClass('err');
      return false;
      }
    if(z){
        if (w=="")
          {
          $('#result').html('Please fill reschedule time to continue reschedule!');
          $('#result').addClass('err');
          return false;
          } 
        }
    if(w){
        if (z=="")
          {
          $('#result').html('Please fill previous time to continue reschedule!');
          $('#result').addClass('err');
          return false;
          } 
        }
    }
</script>
{% endblock %}
