{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>User List</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                   <a href="{{ url('adminfitness:user-assess-create') }}"><span class="glyphicon glyphicon-plus"></span>New User Assessment</a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <thead>
                    <tr>
            <th>Asessment Date</th>
            <th>Time</th>
            <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for uassess in user_assess %}
    <tr>
        <td>{{uassess.assessment_date}}</td>
        <td>{{ uassess.assessment_time }}</td>
        <td class="actions">
            <a href="{{url('adminfitness:user-assess-detail', uassess.id)}}"><span class="glyphicon glyphicon-edit"></span></a>
            
           <form action="{{url('adminfitness:user-assess-del' 
                    , uassess.id)}}"
                method="post" class="destroy">
                {% csrf_token %}
                <button type="submit" class='glyphicon glyphicon-remove'></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

    <div class="pagination">
        <span class="step-links">
            {% if user_assess.has_previous() %}
                <a href="?page={{ user_assess.previous_page_number() }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ user_assess.number }} of {{ user_assess.paginator.num_pages }}.
            </span>

            {% if user_assess.has_next() %}
                <a href="?page={{ user_assess.next_page_number() }}">next</a>
            {% endif %}
        </span>
    </div>


</div>{#-- end containing of content --#}
{% endblock %}