<div id="result"></div>
<div id="userAssessment"></div>
<div class="form-group">
    {{ form.assessment_date.errors }}
    {{ form.assessment_date.label_tag() }}
    {{ form.assessment_date }}
</div>
<div class="form-group">
    {{ form.assessment_time.errors }}
    {{ form.assessment_time.label_tag() }}
    {{ form.assessment_time }}
</div>
<div class="form-group">
    {{ form.user_list.errors }}
    {{ form.user_list.label_tag() }}
    {{ form.user_list }}
    <button id="setuser" name="setuser" value="Add User" type="button">adduser</button>
</div>

<div class="form-group">
	<div class="table-responsive">
		<table id="assessmentTable" class="table table-bordered table-striped table-condensed">
		<tbody>
			<tr>
				<th>Members</th>
				 {% for assess in assess_list %}
                    <th>{{assess.name}}</th>
                 {% endfor %} 
                 <th>DEL</th>
            </tr>
            </tr>
			{% if tabinfo %}
			{% set newrow = 0 %}
			{% set count = 0 %}
			{% for value in tabinfo %}
			{% if newrow != value.user_id %}
					{% set newrow = value.user_id %}
					<tr>
						<td>{{user_id_name[value.user_id]}}</td>
			{% endif %}
				{% set count = count + 1 %}
				<td><input type="text" class="assessmentList" name="{{'data[A-'+value.assessment_id|string()+'][U-'+value.user_id|string()+']'}}" 
						value="{{value.assessent_unit}}" />{{assess_id_name[value.assessment_id]}}</td>		
				{% if count == assess_id_name|length() %}
				{% set count = 0 %}
				<td><button class='remove-td' data-role="{{value.user_id}}">X</button></td>
					</tr>
				{% endif %}
			{% endfor %}
			{% endif %}
		</tbody>
		</table>
</div>
{% if tabinfo %}
<div id="forAssessmentEdit" class="submit">
{% else %}
<div id="forAssessmentSave" class="submit">
{% endif %}
<input type="hidden" name="old_date" value={{old_date}}>
<input type="hidden" name="old_time" value={{old_time}}>

<button type="submit" class ='btn btn-default' >Save </button>
</div>
<script>
  $(function() {
  	$('#datepicker').datepicker();
  	$('#timepicker').timepicker({minuteGrid: 15});

  	$('#forAssessmentSave').hide();

  	$( "#addUser" ).click(function(event) {
		event.preventDefault();
		//alert('hi');
		submitForm("#setUserForAssessment");
	});


$(document).on('click', '.remove-td', function(event){

		$(this).parent().parent().remove();

		var item = $(this).data( "role" );

		var index = userArray.indexOf(item);

		if (index > -1) {
		    userArray.splice(index, 1);
		}

});
	

	$(document).on('click', '#setuser', function(event){ 

		

		//event.preventDefault();
		var userId = $(this).prev().val();
		//alert(userId); die();
		if(userId){
			$('#result').hide();
			var adminURL = 'http://127.0.0.1:8000/admin/';	
			var getaddress_url = adminURL + "userassess/addassessmentperuser/";

            $.post( getaddress_url , { userId : userId } ,callbackassessment);
		}
		else{
		  $('#result').html('Please add user to continue!');
		  $('#result').addClass('err');
		  return false;
		}
		

	});

  });


{% if ulist %}

{{ "var userArray = "+ ulist +";"}}
{% else %}
{{ "var userArray = new Array();"}}
{% endif %}

  /*
  <?php 

  	  if(isset($userlist)){
  	  	echo 'var userArray = ['.implode(',', array_keys($userlist) ).'];';
  	  } else {
  	  		echo 'var userArray = new Array();';
  	  }

   ?>
   */
 
  function callbackassessment(data){

  				var item = data;
				var users_data = JSON.parse( item.user );
				var assessment_data = JSON.parse(item.assessment);

				var len = assessment_data.length;


				//console.log( users_data["fields"]);
				
				var assessment_unit_data = [];
                var txt = "";
                var txt1 = "";
                var txt2 = "";
                var email = users_data.fields.email.split("@");
                email = email[0];
                var userid = users_data.pk;

                if( jQuery.inArray(userid, userArray)===-1 && len){
                	userArray.push(userid);
                		txt1 += '<tr><td>'+email+'</td>';
                    		for(var i=0;i<len;i++){	
	                    			txt2 += '<td><input type="text" class="assessmentList" name="data[A-'+assessment_data[i].pk+'][U-'+userid+']" placeholder="No..." />'+assessment_data[i].fields.unit+'</td>'; 
	                    		}
	                  
	                  		txt2 += "<td><button class='remove-td' data-role='"+userid+"'>X</button></td>";	
	                    	txt+= txt1+txt2;
	                  
                    	if(txt != ""){
                        	$("#assessmentTable").append(txt);
                    	}
                
                    }
                    //$('#forAssessmentEdit').hide();
                    $('#forAssessmentSave').show();
	}

	// form validation added
	function validateForm()
	{
	var x=$('#datepicker').val();
	var y=$('#timepicker').val();
	if (x=="" || y=="")
	  {
	  	$('#result').show();
	  $('#result').html('Please fill date and time to add assessment!');
	  $('#result').addClass('err');
	  return false;
	  }
	}
 </script>