{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                
                <h1>Add/Edit User Asessment</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                     <a href="{{ url('adminfitness:user-assess-list') }}"><span class="glyphicon glyphicon-list">List</span></a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
        {% if create_edit == 1 %}
        <form action="{{ url('adminfitness:user-assess-create')}}"
                method="post">
       {% else %}
            <form action="{{ url('adminfitness:user-assess-detail' , user_id )}}"
                method="post">
        {% endif %}
            {% csrf_token %}
                {% include 'user_assess_form.jinja' %}
          
        </form>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

</div>{#-- end containing of content --#}
{% endblock %}
