{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                
                <h1>Add/Edit User</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                     <a href="{{ url('adminfitness:user-list') }}"><span class="glyphicon glyphicon-list">List</span></a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
        {% if create_edit == 1 %}
        <form action="{{ url('adminfitness:user-create')}}"
                method="post">
       {% else %}
            <form action="{{ url('adminfitness:user-detail' , user_id )}}"
                method="post">
        {% endif %}
            {% csrf_token %}
            <ul class="nav nav-tabs" id="myTab">
              <li class=""><a data-toggle="tab" href="#profile">Profile Info</a></li>
              <li class="active"><a data-toggle="tab" href="#medicalinfo">Medical Info</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="profile">
                {% for field in user_form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag() }} {{ field }}
                    </div>
                {% endfor %}
                {% for field in profile_form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag() }} {{ field }}
                    </div>
                {% endfor %}
                </div>
                <div class="tab-pane fade" id="medicalinfo">
                    <div class="form-group">

                            {% if user_medi_list %}
                                {% for medi in medilist %}
                                    {% if medi.id in user_medi_list %}
                                        <input class="name" name="medical" type="checkbox" checked="checked" value="{{ medi.id }}">{{ medi.name }}
                                         {% else %}
                                         <input class="name" name="medical" type="checkbox" value="{{ medi.id }}">{{ medi.name }}
                                    {% endif %}
                                    <br />
                                {% endfor %}
                                
                            {% else %}
                               {% for medi in medilist %}
                                <input class="name" name="medical" type="checkbox" value="{{ medi.id }}">{{ medi.name }}
                                <br />
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                            <input type="text" name="medical99">
                            </div>
                    </div>
                    <button type="submit"> Add </button>
                </div>
            </div>
        </form>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

</div>{#-- end containing of content --#}
{% endblock %}
