{% extends 'base.html' %}
{% block body_block %}
    <div class="users index">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>User List</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                   <a href="{{ url('adminfitness:user-create') }}"><span class="glyphicon glyphicon-plus"></span>New User</a>
                                </li>
                            </ul>
                        </div>{#-- end body --#}
                </div>{#-- end panel --#}
            </div>{#-- end actions --#}
        </div>{#-- end col md 3 --#}
        
        <div class="col-md-9">
            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <thead>
                    <tr>
            <th>User</th>
            <th>Joining Date</th>
            <th class="actions">Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for user in userlist %}
    <tr>
        <td>{{user.email}}</td>
        <td>{{ user.date_joined}}</td>
        <td class="actions">
            <a href="{{ url('adminfitness:user-detail', user.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
            
           <form action="{{ url('adminfitness:user-del' , user.id) }}"
                method="post" class="destroy">
                {% csrf_token %}
                <button type="submit" class='glyphicon glyphicon-remove'></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            
        </div>{#-- end col md 9 --#}
    </div>{#-- end row --#}

    <div class="pagination">
        <span class="step-links">
            {% if userlist.has_previous() %}
                <a href="?page={{ userlist.previous_page_number() }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ userlist.number }} of {{ userlist.paginator.num_pages }}.
            </span>

            {% if userlist.has_next() %}
                <a href="?page={{ userlist.next_page_number() }}">next</a>
            {% endif %}
        </span>
    </div>
    

</div>{#-- end containing of content --#}
{% endblock %}